extends ../common/layout
block main-content
    h1 Edit your person information (#{currentUser.username})
    form(method="post", action='/profile/update')
        .row
            .col-md-4
                img(src="#{currentUser.avatar}" width='100%')
                label(for="avatar") Avatar
                input(id="avatar" value='#{currentUser.avatar}' class="form-control" type="text" name="avatar" placeholder="Avatar")
            .col-md-8
                label(for="email") E-mail
                    input(id="email" value='#{currentUser.email}' class="form-control" type="email" name="email" placeholder="E-mail")
                    br
                    label(for="password") Password
                    input(id="password" class="form-control" type="password" name="password" placeholder="Password")
                    br
                    label(for="confirm-password") Confirm Password
                    input(id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Confirm password")
                    br
                    label(for="first-name") First Name
                    input(id="first-name" value='#{currentUser.firstName}' class="form-control" type="text" name="firstName" placeholder="First Name")
                    br
                    label(for="last-name") Last Name
                    input(id="last-name" value='#{currentUser.lastName}' class="form-control" type="text" name="lastName" placeholder="Last Name")
                    br
                    label(for="facebookAcc") Facebook Account
                    input(id="facebookAcc" value='#{currentUser.facebookAcc}' class="form-control" type="text" name="facebookAcc" placeholder="Facebook account")
                    br
                    label(for="youtubeAcc") Youtube Account
                    input(id="youtubeAcc" value='#{currentUser.youtubeAcc}' class="form-control" type="text" name="youtubeAcc" placeholder="Youtube account")
                    br
                    input(type="submit" class="btn btn-lg" value="Update")