extends ../common/layout

block main-content
    h1.text-center
        | Playlist

    - rating = (sortBy == 'rating') ? 'selected' : null;
    form(method="get" action='/playlists/list')
        .row
            .col-md-2
                label(for="sortBy") Sort options
                    select(id="sortBy" class="form-control" name="sortBy")
                        option(value="date") Date
                        option(value="rating" selected=rating) Rating
            .col-md-4
                label(for="searchByCategory") Search by category
                    select(id="searchByCategory" class="form-control" name="searchByCategory")
                        option(value='none' selected='selected') -- none --
                        each category in categories
                            option(value="#{category.name}" selected=category.isSelected) #{category.name}
            .col-md-4
                label(for="titleAndDesc") Search by title and description
                input(id="titleAndDesc" class="form-control" type="titleAndDesc" name="titleAndDesc" placeholder="Title description")
        .row
            input(type="submit" class="btn btn-lg" value="Filter")

    br
    table.table.table-responsive
        tr
            th  Title
            th  Description
            th  Category
            th  Creator
            th  Rating
            th  Details

        if playlists
            each playlist in playlists
                tr
                    td #{playlist.title}
                    td #{playlist.description}
                    td #{playlist.category}
                    td #{playlist.creator}
                    td #{playlist.rating}
                    td
                        a(href='/playlists/#{playlist._id}') View details

block page-scripts
    script(src="/js/src/playlist-list.js")





